.project {
  .summary {
    margin-bottom: 0;
  }
  .indexRow {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    &>a {
      display: block;
      width: 60%;
    }

    .summaryContainer {
      width: 35%;
    }
  }

  .links {
    margin-top: 2em;
  }

  .body {
    margin-top: 3em;
  }

  .thumb, .indexThumbs {
    width: 504px;
    height: 324px;
    overflow: hidden;
  }

  &.isDetail {
    display: flex;
    max-width: 100%;

    .main-photo {
      width: 100%;
    }

    .back {
      position: fixed;
    }

    .links {
      margin-top: 1.5em;
    }

    .summaryContainer {
      height: 80vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      position: fixed;
      transform: translateY(50%);
    }

    .summary {
      margin-top: 4em;
    }

    .videoThumbs {
      margin: 0;
    }

    h3 {
      font-size: 42px;
      line-height: 44px;
      width: 300px;
    }

    .indexContainer {
      flex-basis: 50%;
      margin-right: 10%;
    }

    .detailContainer {
      flex-basis: 40%;
    }
  }
}
