@import '../../shared-styles/index';

@include mobile {
  @import './mobile';
}
@include tablet {
  @import './mobile';
  @import './tablet';
}
@include desktop {
  @import './mobile';
  @import './tablet';
  @import './desktop';
}

.ytvideoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
  width: 100%;
  margin-bottom:30px;
}

.ytvideoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}