.project {
  width: auto;

  h3 {
    width: 250px;
    font-size: 36px;
    max-width: 100%;
  }
  .thumb {
    width: 568px;
    height: 356px;
    overflow: hidden;
    background-position: center center;
  }

  &.isDetail {
    margin: 90px auto;
    max-width: 415px;

    .main-photo {
      width: 100%;
    }

    .back {
      position: absolute;
      top: 37px;
      left: 33px;
    }
  }

  .summary {
    margin-bottom: 2em;
  }

  .videoThumbs {
    display: flex;
    flex-wrap: wrap;
    width: 415px;
    margin: 2em 0;

    .videoThumb {
      margin: 0.5em 1em 0.5em 0;
      border: 1px solid $border-color;

      &.desktop {
        width: 268px;

        &.smaller {
          width: 190px;
        }
      }

      &.mobile {
        width: 102px;
      }
    }
  }

  .body {
    margin-bottom: 4em;
  }

  .gallery {
    .desktop {
      display: block;
    }

    .tablet {
      display: inline-block;
      width: 47%;
      margin-right: 1.5em;
    }

    .mobile {
      display: inline-block;
      width: 33%;
      margin-right: 1.5em;
    }
  }
}
