.menu {
  * {
    transition: opacity $transition-quick $ease;
  }

  .hamburger, .close {
    position: fixed;
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 6.5vw;
    right: 6.5vw;
    z-index: 200;
  }

  .hamburger {
    opacity: 1;
    pointer-events: all;

    svg {
      width: 20px;
    }
  }

  .close {
    opacity: 0;
    pointer-events: none;

    svg {
      display: block;
      width: 18px;
    }
  }

  .container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    pointer-events: none;
    background: transparent;
    z-index: 100;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $background-color;
    font-size: 1.5em;

    a, a:visited, a:active {
      color: $body-color;
      margin-bottom: 5vh;

      &.email {
        color: $link-color;
        margin-bottom: 8vh;
      }
      &.title {
        text-decoration: none;
      }
    }

    .title {
      font-family: $header-font;
      font-size: 2em;
    }
  }

  &.isActive {
    .container {
      opacity: 1;
      pointer-events: all;
    }
    .hamburger {
      opacity: 0;
      pointer-events: none;
    }
    .close {
      opacity: 1;
      pointer-events: all;
    }
  }
}
