$mobile-width: 600px;
$desktop-width: 1024px;

$content-width: 500px;
$padding: 15px;

$header-font: 'Humanst521BTWXX-Roman', sans-serif;
$body-font: 'Humanist777', sans-serif;
$thin-font: 'SST', sans-serif;

$background-color: linear-gradient(135deg, #b97893 0%, #f59883 20%, #e2c87d 100%);
$link-color: #ff0037;
$body-color: #fff;
$border-color: rgba(255, 255, 255, 0.7);
$placeholder-color: rgba(255, 255, 255, 0.2);
$modal-background-color: linear-gradient(160deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 1) 100%);
$player-background-color: #000;

$transition-quick: 300ms;
$transition-super-quick: 50ms;
$ease: ease-in-out;
