.home {
  .title, .intro {
    margin-top: 80px;
  }

  .title {
    font-family: $header-font;
    font-size: 4em;
  }

  .intro {
    margin-bottom: 80px;
    width: 245px;
    font-family: $thin-font;
    font-size: 19px;
    line-height: 21px;

    .info {
      margin-bottom: 1em;
    }
  }
}
