@import '../../shared-styles/index';

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  height: 100vh;

  .title {
    font-family: $header-font;
    font-size: 4em;
  }
}
